<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for BikeModel</h1>

    <f:flashMessages />

    <table  class="tx_bikerep" >
        <tr>
            <th><f:translate key="tx_bikerep_domain_model_bikemodel.model" /></th>
            <th><f:translate key="tx_bikerep_domain_model_bikemodel.cc" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{bikeModels}" as="bikeModel">
            <tr>
                <td><f:link.action action="show" arguments="{bikeModel : bikeModel}">{bikeModel.model}</f:link.action></td>
                <td><f:link.action action="show" arguments="{bikeModel : bikeModel}">{bikeModel.cc}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{bikeModel : bikeModel}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{bikeModel : bikeModel}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New BikeModel</f:link.action>
</f:section>
</html>
