body {
    padding: 20px;
}

.bike-ext-layout {
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.margin-right {
    margin-right: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.additional-info {
    margin-left: 10px;    
}